@import '../Common.scss';
.message-area {
    padding: $default-padding;

    .message-add {
        display: flex;
        flex: 1 1 auto;
    
        .lbl {
            flex: 0 1 auto;
            margin-right: $default-padding;
            padding: $small-padding;
        }
        
        .message-text {
            flex: 1 1 auto;
        }

        .message-action {
            flex: 0 1 auto;
        }
    }

    .message-list {
        padding: $default-padding;
        display: flex;
        flex-direction: column;
    
        .message {
            flex: 1 1 auto;

            .txt {
                margin-right: $default-padding;
            }
        }
    }
}