@import './Common.scss';

.action-selection {
    padding: $default-padding;

    .action-selection-label {
        margin-right: $default-padding;
        padding: $small-padding;
    }
}

.action-help {
    margin-right: $default-padding;
    background-color: #72767d;
    padding: $small-padding $default-padding;
    font-style: italic;
}