@import './Common.scss';

.App {
    display: flex;
    height: 100vh;
    flex: 1 1 auto;
    flex-direction: column;

    header, footer {
        flex: 0 0 auto;
        text-align: center;
        background-color: $content-color;
        color: $text-color;
    }

    header {
        border-bottom: 1px solid black;
    }

    footer {
        border-top: 1px solid black;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        background-color: $sidebar-color;
    
        .sidebar {
            flex: 0 0 auto;

            ul {
                padding: 0 16px;
                list-style-type: none;
            }
        }
    
        .content-area {
            padding-left: 32px;
            flex: 1 1 auto;
            background-color: $content-color;
            color: $text-color;
        }
    }
}

