@import './Common.scss';

.deferred-action {
    display: flex;
    flex-direction: column;
    margin-bottom: $large-padding;

    .deferred-selector {
        display: flex;
        flex-direction: row;
        margin-bottom: $default-padding;

        .lbl {
            margin-right: $default-padding;
        }
    }

    .picker {
        margin-bottom: $default-padding;
    }
}